*{
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #b8b8b8;
    color: white;
}

main {
    width: 480px;
    margin: 10px auto;
}

.cotacao {
    font-size: 40px;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    background-color: #262626;
    margin-bottom: 10px;
}

#outrasCotacoes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 10px;
    grid-column-gap: 10px;
}

#outrasCotacoes article{
    text-align: center;
    border-radius: 5px;
    background-color: #262626;
    padding: 10px 0;
}

label{
  text-align: center;
  border-radius: 5px;
  background-color: #262626;
  padding: 10px 0;
  font-weight: bold;
  font-size: 20px;
}

select{
  color: white;
  background-color: inherit;
  border: 1px solid black;
  width: 100%;
  padding: 5px;
  font-size: 20px;
}

select:focus{
  outline: none;
}

select option{
  background-color: #262626;
  color: white;
}

#outrasCotacoes article h2{
    color: white;
    display: block;
    font-weight: normal;
    margin: 0;
}

#outrasCotacoes article span{
    color: white;
    font-weight: bold;
    font-size: 24px;
}

#outrasCotacoes *{
  text-decoration: none;
}
